element.style {
    display: block;
    -webkit-user-select: none;
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}
img[Attributes Style] {
    width: 447px;
    aspect-ratio: auto 447 / 321;
    height: 321px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}